<header>
  <h1>William Warby</h1>
  <img src="assets/profile.jpg" alt="William Warby" class="profile" />
  <ul class="domains">
    <li>Technical architect</li>
    <li>Photographer</li>
  </ul>
  <div class="connect">
    <ul>
      <li>
        <a href="https://github.com/wwarby" matTooltip="GitHub">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://uk.linkedin.com/in/wwarby" matTooltip="Linked In">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://www.flickr.com/photos/wwarby" matTooltip="Flickr">
          <i class="fab fa-flickr"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/wwarby" matTooltip="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/wwarby" matTooltip="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</header>
<div class="photography">
    <img src="assets/photography/thumbnail/00002.jpg" class="left" alt="Copyright © William Warby" (click)="openPhotographyGallery(1)" />
    <img src="assets/photography/thumbnail/00007.jpg" class="middle" alt="Copyright © William Warby" (click)="openPhotographyGallery(6)" />
    <img src="assets/photography/thumbnail/00016.jpg" class="right" alt="Copyright © William Warby" (click)="openPhotographyGallery(15)" />
</div>
<ngx-image-gallery
  [images]="photographyGalleryImages"
  [conf]="photographyGalleryConfig"
  (onOpen)="photographyGalleryOpened()">
</ngx-image-gallery>
