@import 'colours';
@import 'variables';
@import 'mixins';

// sass-lint:disable no-color-literals

:host {
  display: flex;
  flex-direction: column;
}

header {
  padding: 3rem 0 0;
  text-shadow: 0 1px 5px $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include screensize(md) {
    display: inline-block;
    margin: 0 auto;
    padding-left: 230px;
  }

  h1 {
    display: inline-block;
    margin: 0 0 2rem;

    @include screensize(md) {
      margin: 0;
    }
  }

  .profile {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid $white;

    @include screensize(md) {
      position: absolute;
      left: 0;
      top: 3rem;
      width: 200px;
      height: 200px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul.domains {
    margin: 1rem 0;

    li {
      text-align: center;
      margin: 1rem 0;
      text-transform: uppercase;
    }

    @include screensize(md) {
      margin: .2rem 0 .6rem 1rem;

      li {
        display: inline-block;
        padding-left: 1.5rem;

        &::before {
          font-family: 'FontAwesome';
          content: '\f111';
          font-size: 5px;
          margin: 0 1.5rem 0 0;
          vertical-align: middle;
        }

        &:first-child {
          padding-left: 0;

          &::before {
            content: '';
            margin: 0;
          }
        }
      }
    }
  }

  div.connect {
    padding: 1rem;
    align-self: stretch;
    background: $callout-background-color;
    border-top: 1px solid $callout-border-color;
    border-bottom: 1px solid $callout-border-color;

    @include screensize(md) {
      border-radius: 100px;
      border: 1px solid $callout-border-color;
    }

    i.fab {
      font-size: 36px;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;

      &li {
        display: inline-block;
        text-shadow: 0 1px 5px $black;
      }
    }
  }
}

.photography {
  margin: 3rem auto 0;
  text-align: center;
  position: relative;

  @include screensize(md) {
    margin-top: 5rem;
  }

  img {
    max-width: 100px;
    max-height: 100px;
    border: 5px solid $white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .4);
    z-index: 100;
    cursor: pointer;

    @include screensize(md) {
      max-width: 200px;
      max-height: 200px;
      border: 10px solid $white;
    }
  }

  img.left {
    position: absolute;
    top: 12px;
    left: -100px;

    @include screensize(md) {
      top: 25px;
      left: -200px;
    }
  }

  img.middle {
    position: relative;
    z-index: 1000;
  }

  img.right {
    position: absolute;
    top: 12px;
    left: 77px;

    @include screensize(md) {
      top: 25px;
      left: 155px;
    }
  }
}

::ng-deep ngx-image-gallery {
  background: $background !important;

  .galleria {
    left: 30px !important;
    right: 30px !important;

    @include screensize(sm) {
      left: 35px !important;
      right: 35px !important;
    }
  }

  .control.right-top {
    right: 5px !important;
  }

  .close {
    width: 20px !important;
    height: 20px !important;

    @include screensize(sm) {
      width: 25px !important;
      height: 25px !important;
    }
  }

  .control.arrow {
    width: 30px !important;
    height: 25px !important;

    @include screensize(sm) {
      width: 35px !important;
      height: 30px !important;
    }
  }

  .image {
    left: 10px !important;
    right: 10px !important;
    top: 30px !important;
    bottom: 30px !important;

    @include screensize(sm) {
      left: 20px !important;
      right: 20px !important;
      top: 40px !important;
      bottom: 40px !important;
    }

    &> img {
      border: 10px solid $white;
      left: -10px !important;
      right: -10px !important;
      top: -10px !important;
      bottom: -10px !important;

      @include screensize(sm) {
        border: 20px solid $white;
        left: -20px !important;
        right: -20px !important;
        top: -20px !important;
        bottom: -20px !important;
      }
    }
  }
}
